.container {
  width: 400px;
  margin: auto;
}

.side-by-side {
  display: flex;
}

.full-width {
  width: 300px;
  margin: 10px 40px;
  text-align: center;
}

.answer {
  font-size: 40px;
}

.numbers {
  width: 80px;
  min-height: 80px;
  border: 2px solid darkgrey;
  margin: 10px 40px;
  padding: 10px;
}

.number {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.action {
  width: 100px;
  height: 30px;
  margin: 25px;
}

.footer {
  margin-top: 40px;
  font-size: 12px;
}
