.tabs {
  width: 100%;
  background-color: #eee;
  border-bottom: 3px solid #aaa;
  margin-bottom: 30px;
}

.tab {
  min-width: 150px;
  border: 0;
  padding: 8px;
  background-color: transparent;
}

.active {
  background-color: #aaa;
}
